body {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  /*  1.16667 */
  letter-spacing: -0.02em;
  color: var(--primary-white);
  background-color: var(--primary-background);
}

main {
  overflow-x: hidden;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}
ul {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 50px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/*---reviews---*/

.container {
  margin-bottom: 40px;
  background-color: #0e1823;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reviews-title {
  max-width: 335px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 25px;
  margin-top: 0;
}
.reviews-text {
  max-width: 335px;
  font-weight: 400;
  text-align: center;
  color: #fbfbfb;
  opacity: 0.4;
  margin-bottom: 40px;
  margin-top: 0;
  /*---?---*/
}
.reviews-list {
  padding-left: 0;
  margin: 0;
  /*--?--*/
}
.reviews-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 24px;
  background: #fbfbfb;
  padding: 32px 16px;
}
.reviews-image {
  margin-bottom: 24px;
}

.reviews-item:nth-child(2),
.reviews-item:nth-child(3) {
  display: none;
}

.reviews-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
  color: #040306;
}
.reviews-item-text {
  max-width: 303px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
}
@media screen and (min-width: 768px) {
  .container {
    margin-bottom: 75px;
  }

  .reviews-title {
    font-size: 48px;
  }

  .reviews-text {
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: 75px;
  }
  .reviews-list {
    display: flex;
    gap: 32px;
  }
  .reviews-item {
  }
  .reviews-image {
  }
  .reviews-subtitle {
  }
  .reviews-item-text {
  }
  .reviews-item:nth-child(2) {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 1440px) {
}
